@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-zinc-300
}

@media (prefers-color-scheme: light) {
  :root {
    @apply bg-zinc-300
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    @apply min-h-screen flex flex-col justify-between flex-grow-0 min-w-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
