@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: var(--bg-zinc-300);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-zinc-800);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  min-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.content-container {
  width: 11/12;
  max-width: 1800px;
  margin: 0 auto;
  overflow: auto;
}


table {
  width: 100%;
  table-layout: auto;
}



/* Basic table  */
.basic-table {
  @apply w-full;
}

.basic-table tbody tr:nth-child(odd) {
  @apply bg-gray-50;
}

.basic-table tbody tr:hover {
  @apply bg-gray-100;
}